<ul class="dropdown dropdown-menu" role="menu">
  <li>
    <a href="#" class="export-html">HTML</a>
  </li>
  <li>
    <a href="#" class="export-styled_html">Styled HTML</a>
  </li>
  <li>
    <a href="#" class="export-md">Markdown</a>
  </li>
  <li>
    <a href="#" class="export-pdf">PDF</a>
  </li>
</ul>
