
<ul class="dropdown dropdown-menu" role="menu"
ng-controller="DocumentsExport as export"
di-target="_top">
  <li>
    <a ng-click="export.asHTML()" class="export-html">HTML</a>
  </li>
  <li>
    <a ng-click="export.asStyledHTML()" class="export-styled_html">Styled HTML</a>
  </li>
  <li>
    <a ng-click="export.asMarkdown()" class="export-md">Markdown</a>
  </li>
  <li>
    <a ng-click="export.asPDF()" class="export-pdf">PDF</a>
  </li>
</ul>
