<ul class="dropdown dropdown-menu" role="menu">
  <li>
    <a href="#" class="import-dropbox">Dropbox</a>
  </li>
  <li>
    <a href="#" class="import-github">Github</a>
  </li>
  <li>
    <a href="#" class="import-google-drive">Google Drive</a>
  </li>
  <li>
    <a href="#" class="import-one-drive">One Drive</a>
  </li>
</ul>
