<ul class="dropdown dropdown-menu" role="menu">
  <li>
    <a href="#" class="save-to-dropbox">Dropbox</a>
  </li>
  <li>
    <a href="#" class="save-to-github">Github</a>
  </li>
  <li>
    <a href="#" class="save-to-google-drive">Google Drive</a>
  </li>
  <li>
    <a href="#" class="save-to-one-drive">One Drive</a>
  </li>
</ul>
