<ul class="dropdown dropdown-menu" role="menu">
  <li>
    <a href="#" class="save-to-dropbox unlinked">
      <span>Dropbox</span>
      <span class="icon icon-link"><%- include ../icons/linked %></span>
    </a>
  </li>
  <li>
    <a href="#" class="save-to-github unlinked">
      <span>Github</span>
      <span class="icon icon-link"><%- include ../icons/linked %></span>
    </a>
  </li>
  <li>
    <a href="#" class="save-to-google-drive unlinked">
      <span>Google Drive</span>
      <span class="icon icon-link"><%- include ../icons/linked %></span>
    </a>
  </li>
  <li>
    <a href="#" class="save-to-one-drive unlinked">
      <span>One Drive</span>
      <span class="icon icon-link"><%- include ../icons/linked %></span>
    </a>
  </li>
</ul>
