<ul class="settings" role="menu" ng-controller="User as user">
  <li>
    <a ng-click="user.toggleAutoSave($event)">
      <span class="has-checkbox">Auto Save</span>
      <switch class="toggle-auto-save" value="user.profile.enableAutoSave"></switch>
    </a>
  </li>
  <li>
    <a ng-click="user.toggleWordsCount($event)">
      <span class="has-checkbox">Word Count</span>
      <switch class="toggle-word-count" value="user.profile.enableWordsCount"></switch>
    </a>
  </li>
  <li>
    <a ng-click="user.toggleScrollSync($event)">
      <span class="has-checkbox">Scroll Sync</span>
      <switch class="toggle-scroll-sync" value="user.profile.enableScrollSync"></switch>
    </a>
  </li>
  <% if (isGithubAuth) { %>
  <li>
    <a ng-click="user.toggleGitHubComment($event)">
      <span class="has-checkbox">GitHub Comment</span>
      <switch class="toggle-github-comment" value="user.profile.enableGitHubComment"></switch>
    </a>
  </li>
  <% } %>
  <!--
  <li>
    <a ng-click="user.toggleNightMode()">
      <span>Night Mode</span>
      <switch class="toggle-night-mode" value="user.profile.enableNightMode"></switch>
    </a>
  </li>
  -->
  <li>
    <a target="_blank" href="https://www.markdownguide.org">
      <span>Markdown Help</span>
    </a>
  </li>
  <li>
    <a class="toggle-wtf" ng-click="user.showAbout($event)">
      <span>WTF is Dillinger?</span>
    </a>
  </li>
  <li>
    <a class="toggle-reset" ng-click="user.resetProfile($event)">
      <span>Reset Profile</span>
    </a>
  </li>
</ul>
