<ul class="settings" role="menu">
  <li>
    <a href="#">
      <span class="has-checkbox">Auto Save</span>
      <input class="toggle-auto-save js-switch" type="checkbox" checked>
    </a>
  </li>
  <li>
    <a href="#">
      <span class="has-checkbox">Word Count</span>
      <input class="toggle-word-count js-switch" type="checkbox" checked>
    </a>
  </li>
  <li>
    <a href="#">
      <span>Night Mode</span>
      <input class="toggle-night-mode js-switch" type="checkbox">
    </a>
  </li>
  <li>
    <a target="_blank" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">
      <span>Cheat Sheet</span>
    </a>
  </li>
  <li>
    <a class="toggle-wtf" href="#">
      <span>WTF is Dillinger?</span>
    </a>
  </li>
  <li>
    <a class="toggle-reset" href="#">
      <span>Reset Profile</span>
    </a>
  </li>
</ul>
