<ul class="dropdown dropdown-menu settings" role="menu">
  <li>
    <a href="#">
      <span class="has-checkbox">Auto Save</span>
      <input type="checkbox" class="js-switch" checked>
    </a>
  </li>
  <li>
    <a href="#">
      <span class="has-checkbox">Word Count</span>
      <input type="checkbox" class="js-switch" checked>
    </a>
  </li>
  <li>
    <a href="#">
      <span>Night Mode</span>
      <input type="checkbox" class="js-switch">
    </a>
  </li>
  <li>
    <a href="#">
      <span>Cheat Sheet</span>
    </a>
  </li>
  <li>
    <a href="#">
      <span>WTF is Dillinger?</span>
    </a>
  </li>
  <li>
    <a href="#">
      <span>Reset Profile</span>
    </a>
  </li>
</ul>
