<ul class="settings" role="menu" ng-controller="User as user">
  <li>
    <a ng-click="user.toggleAutoSave($event)">
      <span class="has-checkbox">Auto Save</span>
      <switch class="toggle-auto-save" value="user.profile.enableAutoSave"></switch>
    </a>
  </li>
  <li>
    <a ng-click="user.toggleWordsCount($event)">
      <span class="has-checkbox">Word Count</span>
      <switch class="toggle-word-count" value="user.profile.enableWordsCount"></switch>
    </a>
  </li>
  <!--
  <li>
    <a ng-click="user.toggleNightMode()">
      <span>Night Mode</span>
      <switch class="toggle-night-mode" value="user.profile.enableNightMode"></switch>
    </a>
  </li>
  -->
  <li>
    <a target="_blank" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">
      <span>Cheat Sheet</span>
    </a>
  </li>
  <li>
    <a class="toggle-wtf" ng-click="user.showAbout($event)">
      <span>WTF is Dillinger?</span>
    </a>
  </li>
  <li>
    <a class="toggle-reset" ng-click="user.resetProfile($event)">
      <span>Reset Profile</span>
    </a>
  </li>
</ul>
