<ul class="settings" role="menu" ng-controller="UserController">
  <li>
    <a href="#" ng-click="toggleAutoSave()">
      <span class="has-checkbox">Auto Save</span>
      <switch class="toggle-auto-save" value="user.AutoSave"></switch>
    </a>
  </li>
  <li>
    <a href="#" ng-click="toggleWordCount()">
      <span class="has-checkbox">Word Count</span>
      <switch class="toggle-word-count" value="user.WordCount"></switch>
    </a>
  </li>
  <li>
    <a href="#" ng-click="toggleNightMode()">
      <span>Night Mode</span>
      <switch class="toggle-night-mode" value="user.NightMode"></switch>
    </a>
  </li>
  <li>
    <a target="_blank" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">
      <span>Cheat Sheet</span>
    </a>
  </li>
  <li>
    <a class="toggle-wtf" href="#">
      <span>WTF is Dillinger?</span>
    </a>
  </li>
  <li>
    <a class="toggle-reset" href="#" ng-click="resetProfile()">
      <span>Reset Profile</span>
    </a>
  </li>
</ul>
