// *************************************
//
//   Tools
//   -> Global utilities
//
// *************************************

// -------------------------------------
//   Background
// -------------------------------------

// %bch {
//   background: $c-highlight;
// }

// %bci {
//   background: $c-background-invert;
// }

// %bcs {
//   background: $c-subdue;
// }

// -------------------------------------
//   Display
// -------------------------------------

// %db {
//   display: block;
// }

// %di {
//   display: inline;
// }

// %dib {
//   display: inline-block;
// }

// %dn {
//   display: none;
// }

// -------------------------------------
//   Margins
// -------------------------------------

// ----- All ----- //

// %maxs {
//   margin: $base-space-xs;
// }

// %mas {
//   margin: $base-space-s;
// }

// %mam {
//   margin: $base-space;
// }

// %mal {
//   margin: $base-space-l;
// }

// %maxl {
//   margin: $base-space-xl;
// }

// ----- Bottom ----- //

// %mbf {
//   margin-bottom: 0;
// }

// %mbxs {
//   margin-bottom: $base-space-xs;
// }

// %mbs {
//   margin-bottom: $base-space-s;
// }

// %mbm {
//   margin-bottom: $base-space;
// }

// %mbl {
//   margin-bottom: $base-space-l;
// }

// %mbxl {
//   margin-bottom: $base-space-xl;
// }

// ----- Horizontal ----- //

// %mhc {
//   margin-left: auto;
//  margin-right: auto;
// }

// ----- Left ----- //

// %mlf {
//   margin-left: 0;
// }

// %mlxs {
//   margin-left: $base-space-xs;
// }

// %mls {
//   margin-left: $base-space-s;
// }

// %mlm {
//   margin-left: $base-space;
// }

// %mll {
//   margin-left: $base-space-l;
// }

// ----- Right ----- //

// %mrf {
//   margin-right: 0;
// }

// %mrxs {
//   margin-right: $base-space-xs;
// }

// %mrs {
//   margin-right: $base-space-s;
// }

// %mrm {
//   margin-right: $base-space;
// }

// %mrl {
//   margin-right: $base-space-l;
// }

// ----- Top ----- //

// %mtf {
//   margin-top: 0;
// }

// %mtxs {
//   margin-top: $base-space-xs;
// }

// %mts {
//   margin-top: $base-space-s;
// }

// %mtm {
//   margin-top: $base-space;
// }

// %mtl {
//   margin-top: $base-space-l;
// }

// %mtxl {
//   margin-top: $base-space-xl;
// }

// -------------------------------------
//   Padding
// -------------------------------------

// ----- All ----- //

// %paxs {
//   padding: $base-space-xs;
// }

// %pas {
//   padding: $base-space-s;
// }

// %pam {
//   padding: $base-space;
// }

// %pal {
//   padding: $base-space-l;
// }

// %paxl {
//   padding: $base-space-xl;
// }

// ----- Bottom ----- //

// %pbf {
//   padding-bottom: 0;
// }

// %pbxs {
//   padding-bottom: $base-space-xs;
// }

// %pbs {
//   padding-bottom: $base-space-s;
// }

// %pbm {
//   padding-bottom: $base-space;
// }

// %pbl {
//   padding-bottom: $base-space-l;
// }

// %pbxl {
//   padding-bottom: $base-space-xl;
// }

// ----- Left ----- //

// %plf {
//   padding-left: 0;
// }

// %plxs {
//   padding-left: $base-space-xs;
// }

// %pls {
//   padding-left: $base-space-s;
// }

// %plm {
//   padding-left: $base-space;
// }

// %pll {
//   padding-left: $base-space-l;
// }

// ----- Right ----- //

// %prf {
//   padding-right: 0;
// }

// %prxs {
//   padding-right: $base-space-xs;
// }

// %prs {
//   padding-right: $base-space-s;
// }

// %prm {
//   padding-right: $base-space;
// }

// %prl {
//   padding-right: $base-space-l;
// }

// ----- Top ----- //

// %ptf {
//   padding-top: 0;
// }

// %ptxs {
//   padding-top: $base-space-xs;
// }

// %pts {
//   padding-top: $base-space-s;
// }

// %ptm {
//   padding-top: $base-space;
// }

// %ptl {
//   padding-top: $base-space-l;
// }

// %ptxl {
//   padding-top: $base-space-xl;
// }

// -------------------------------------
//   Positioning
// -------------------------------------

// %fl {
//   float: left;
// }

// %fr {
//   float: right;
// }

// %poa {
//   position: absolute;
// }

// %pof {
//   position: fixed;
// }

// %por {
//   position: relative;
// }

// %pos {
//   position: static;
// }

// -------------------------------------
//   Rounding
// -------------------------------------

// %ra {
//   border-radius: 50%;
// }

// %ram {
//   border-radius: $base-border-radius;
// }

// %ran {
//   border-radius: 0;
// }

// -------------------------------------
//   Text
// -------------------------------------

// ----- Alignment ----- //

// %tac {
//   text-align: center;
// }

// ----- Color ----- //

// %tch {
//   color: $c-highlight;
// }

// %tci {
//   color: $c-text-invert;
// }

// %tcs {
//   color: $c-subdue;
// }

// %tct {
//   color: $c-text;
// }

// ----- Family ----- //

// %tfb {
//   font-family: $base-font-family;
// }

// %tfh {
//   font-family: $base-font-family-heading;
// }

// ----- Size ----- //

// %tsxs {
//   font-size: $base-font-size-xs;
// }

// %tss {
//   font-size: $base-font-size-s;
// }

// %tsm {
//   font-size: $base-font-size-m;
// }

// %tsl {
//   font-size: $base-font-size-l;
// }

// %tsxl {
//   font-size: $base-font-size-xl;
// }

// ----- Style ----- //

// %tsi {
//   font-style: italic;
// }

// ----- Transform ----- //

// %ttu {
//   text-transform: uppercase;
// }

// ----- Weight ----- //

// %twn {
//   font-weight: normal;
// }

// %twb {
//   font-weight: bold;
// }
