.DS_Store
.env

#Dillinger
node_modules/*
logs/*
downloads/files/md/*.md
downloads/files/html/*.html
downloads/css/style.css

*-config.json
backup/*

# IntelliJ - PhpStorm and PyCharm
.idea
.idea/
.idea/*
*.iml
*.ipr
*.iws

# Netbeans
nbproject
.nbproject
.nbproject/*
nbproject/*
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Mac OSX
.DS_Store
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

# SublimeText project files
/*.sublime-project
*.sublime-workspace

# NPM debug log
npm-debug.log

# Vim
*.swp

.vercel
