<div class="editor-header editor-header--first">
  <h3 class="title">Markdown</h3>
  <toggle-zen-mode></toggle-zen-mode>
</div>
<div class="editor-header">
  <h3 class="title">Preview</h3>
  <a ng-class="{'preview-mode-toggle-html' : $root.viewSrcMode, 'preview-mode-toggle-src' : !$root.viewSrcMode}" ng-click="toggleView()">Toggle Mode</a>
</div>
