<% if(isGithubConfigured){ %>

<% if(isGithubAuth) {
 var icon = 'icon-minus'
 var copy = 'Unlink'
 var href = '/unlink/github'
 var username = github_username
}else{
  var icon = 'icon-plus'
  var copy = 'Link'
  var href = '/redirect/github'
  var username = ''
}
%>
<a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">GitHub <b class="caret"></b></a>
<ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
  <li><a tabindex="-1" href="<%- href %>"><i class="<%- icon %>"></i>&nbsp;<%- copy %> with GitHub</a></li>
  <li><a tabindex="-1" href="#" id="import_github" data-github-username="<%- username %>"><i class="icon-download-alt"></i>&nbsp;Import from GitHub</a></li>
  <li><a tabindex="-1" href="#" id="save_github"><i class="icon-hdd"></i>&nbsp;Save to GitHub</a></li>
</ul>
<% } %>
