<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<% description %>">
  <meta name="author" content="Joe McCann">
  <%- include style %>
  <!-- For IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%- include icons %>

  <!-- 

  Powered by:

  '||''''|                                          
   ||  .   ... ...... ...... ..   ....  ....  ....  
   ||''|    '|..'  ||'  ||||' ''.|...||||. ' ||. '  
   ||        .|.   ||    |||    ||     . '|... '|.. 
  .||.....|.|  ||. ||...'.||.    '|...'|'..|'|'..|'  
                   ||
                   ||  
                 
  using node.js version <%= node_version %>

  -->
</head>