<!DOCTYPE html>
<html lang="en">
<%- include head %>
<body>
  <noscript>
    <p>Oooooo, sorry that's the wrong answer. You actually need JavaScript to use this site.</p>
    <p>See, Leaf is an application, not a web<em>site</em>. JavaScript is a requirement.</p>
    <p>Be sure and come back when you have JavaScript enabled</p>
  </noscript>
<%- include body %>
<%- include scripts %>
</body>
</html>