<!DOCTYPE html>
<html lang="en">
<%- include head %>
<body>
  <noscript>
    <p>Oooooo, sorry that's the wrong answer. You actually need JavaScript to use Dillinger.</p>
    <p>See, Dillinger is an application, not a web<em>site</em>. JavaScript is a requirement.</p>
    <p>Be sure and come back when you have JavaScript enabled - It's 2012!!!!111!1!</p>
  </noscript>
<%- include body %>
<%- include scripts %>
</body>
</html>