<a id="drop0" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Local Files <b class="caret"></b></a>
<ul class="dropdown-menu" role="menu" aria-labelledby="drop0">
  <li><a tabindex="-1" href="#" id="import_local_file"><i class="icon-file"></i>&nbsp;Load file</a></li>
  <li><a tabindex="-1" href="#" id="new_local_file"><i class="icon-file"></i>&nbsp;New file</a></li>
</ul>
