<!DOCTYPE html>
<html lang="en">
<%- include head %>
<body>
  <noscript>
    <p>Oooooo, sorry that's the wrong answer. You actually need JavaScript to use Dillinger.</p>
    <p>See, Dillinger is an application, not a web<em>site</em>. JavaScript is a requirement.</p>
    <p>Be sure and come back when you have JavaScript enabled - It's 2014!!!!111!1!</p>
  </noscript>
  <div id="main" class="main-error">
    <h1>Bummer</h1>
    <p>It appears what you are looking for is not implemented yet.</p>
    <p>Try it again a bit later, ya hear?</p>
  </div>
</body>
</html>
