<a href="#" role='button' class="has-spinner active" id="collaborate-btn"
    data-loading-text="loading <span id='loading-icon'>&#x262e;</span>"
    autocomplete='off'>
  Collaborate
  <span id="collaborate-icon" class="icon-heart icon-white spinner icon-spin"></span>
</a>
