<div class="sidebar-wrapper">
  <div class="sidebar">
    <h2 class="sidebar-branding">
      <%- include icons/branding %>
    </h2>

    <nav class="nav nav-sidebar">
      <ul class="menu menu-sidebar">
        <li class="menu-item menu-item--save-to in-sidebar">
          <a href="#" class="menu-link"><span>Save to</span> <span class="caret"></span></a>
          <%- include dropdowns/save_to %>
        </li>
        <li class="menu-item menu-item--import-from in-sidebar">
          <a href="#" class="menu-link"><span>Import from</span> <span class="caret"></span></a>
          <%- include dropdowns/import_from %>
        </li>
        <li class="menu-item open menu-item--documents in-sidebar">
          <a href="#" class="menu-link"><span>Documents</span> <span class="caret"></span></a>
          <%- include dropdowns/documents %>
        </li>
      </ul>
    </nav>
  </div>
</div>
