<div class="sidebar-wrapper">
  <div class="sidebar">
    <h2 class="sidebar-branding">
      <%- include icons/branding %>
    </h2>

    <nav class="nav nav-sidebar">
      <ul class="menu menu-sidebar">
        <li class="menu-item">
          <a href="#" class="menu-link" data-toggle="dropdown"><span>Save to</span> <span class="caret"></span></a>
          <%- include dropdowns/save_to %>
        </li>
        <li class="menu-item">
          <a href="#" class="menu-link" data-toggle="dropdown"><span>Import from</span> <span class="caret"></span></a>
          <%- include dropdowns/import_from %>
        </li>
        <li class="menu-item">
          <a href="#" class="menu-link" data-toggle="dropdown"><span>Documents</span> <span class="caret"></span></a>

        </li>
      </ul>
    </nav>
  </div>
</div>
