<div class="header">
  <h2 class="title">Document Name</h2>
  <document-title></document-title>

  <p ng-if="user.WordCount" class="words">Words: <span class="counter" ng-bind="words"></span></p>
</div>
