<div class="header" ng-controller="diSplitJs">
  <h2 class="title">Document Name</h2>
  <document-title></document-title>
    <split-area></split-area>       
  <p ng-if="profile.enableWordsCount" class="words">Words: <span class="counter" ng-bind="words"></span></p>
</div>
