<div class="header">
  <h2 class="title">Document Name</h2>
  <document-title></document-title>
  <!--SplitArea test element -->
  <div ng-controller="diSplitJsCtrl">
    <split-area></split-area> 
  </div>      
  <p ng-if="profile.enableWordsCount" class="words">Words: <span class="counter" ng-bind="words"></span></p>
</div>
