@media screen and (max-width: 768px)

    nav
      padding-left 4px
      padding-right 0px
      
    #theme
      margin-right 4px
      
    .cont
      top 58px
      right 8px
    
    .jumbotron
      margin-top 98px
      min-width 728px
    
    #editor
      left 5px
      width 48%
    
    #preview
      right 5px
      width 48%
/* Add some custom 768 stuff here */