/* @import "bootstrap/normalize"; */
/* @import "bootstrap/print"; */
/* @import "bootstrap/glyphicons"; */
/* @import "bootstrap/scaffolding"; */
/* @import "bootstrap/type"; */
/* @import "bootstrap/code"; */
/* @import "bootstrap/grid"; */
/* @import "bootstrap/tables"; */
/* @import "bootstrap/forms"; */
/* @import "bootstrap/buttons"; */
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear; }
  .fade.in {
    opacity: 1; }

.collapse {
  display: none; }
  .collapse.in {
    display: block; }

tr.collapse.in {
  display: table-row; }

tbody.collapse.in {
  display: table-row-group; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  transition: height 0.35s ease; }

/* @import "bootstrap/dropdowns"; */
/* @import "bootstrap/button-groups"; */
/* @import "bootstrap/input-groups"; */
/* @import "bootstrap/navs"; */
/* @import "bootstrap/navbar"; */
/* @import "bootstrap/breadcrumbs"; */
/* @import "bootstrap/pagination"; */
/* @import "bootstrap/pager"; */
/* @import "bootstrap/labels"; */
/* @import "bootstrap/badges"; */
/* @import "bootstrap/jumbotron"; */
/* @import "bootstrap/thumbnails"; */
/* @import "bootstrap/alerts"; */
/* @import "bootstrap/progress-bars"; */
/* @import "bootstrap/media"; */
/* @import "bootstrap/list-group"; */
/* @import "bootstrap/panels"; */
/* @import "bootstrap/responsive-embed"; */
/* @import "bootstrap/wells"; */
/* @import "bootstrap/close"; */
.modal-open {
  overflow: hidden; }

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0; }
  .modal.fade .modal-dialog {
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out; }
  .modal.in .modal-dialog {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto; }

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px; }

.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0; }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000; }
  .modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0); }
  .modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50); }

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857143px; }

.modal-header .close {
  margin-top: -2px; }

.modal-title {
  margin: 0;
  line-height: 1.42857143; }

.modal-body {
  position: relative;
  padding: 15px; }

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5; }
  .modal-footer:before, .modal-footer:after {
    content: " ";
    display: table; }
  .modal-footer:after {
    clear: both; }
  .modal-footer .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0; }
  .modal-footer .btn-group .btn + .btn {
    margin-left: -1px; }
  .modal-footer .btn-block + .btn-block {
    margin-left: 0; }

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll; }

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto; }
  .modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }
  .modal-sm {
    width: 300px; } }

@media (min-width: 992px) {
  .modal-lg {
    width: 900px; } }

/* @import "bootstrap/tooltip"; */
/* @import "bootstrap/popovers"; */
/* @import "bootstrap/carousel"; */
/* @import "bootstrap/utilities"; */
/* @import "bootstrap/responsive-utilities"; */
*, *:before, *:after {
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
images {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

.debug {
  background-color: #ffc0cb !important; }

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden; }
  .ir::before {
    content: '';
    display: block;
    height: 150%;
    width: 0; }

/**
 * @mixin between($breakpoint-key-left, $breakpoint-key-right)
 * @param {String} $breakpoint-key-left name of the left media query
 * @param {String} $breakpoint-key-right name of the right media query
 */
html {
  font-size: 0.875em;
  background: #fafafa;
  color: #373D49;
  font-family: Georgia, Cambria, serif;
  height: 100%; }
  @media screen and (min-width: 27.5em) {
    html {
      font-size: 0.875em; } }
  @media screen and (min-width: 46.25em) {
    html {
      font-size: 0.875em; } }
  @media screen and (min-width: 62.5em) {
    html {
      font-size: 0.875em; } }
  @media screen and (min-width: 87.5em) {
    html {
      font-size: 0.875em; } }

body {
  font-size: 1rem;
  font-family: Georgia, Cambria, serif;
  font-weight: 400;
  line-height: 2rem;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(50, 50, 50, 0.1) 0, rgba(50, 50, 50, 0.2) 1px, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0) 2px);
  background: linear-gradient(to bottom, rgba(50, 50, 50, 0.1) 0, rgba(50, 50, 50, 0.2) 1px, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0) 2px);
  background-size: 100% 1rem; }
  @media screen and (min-width: 27.5em) {
    body {
      font-size: 1rem; } }
  @media screen and (min-width: 46.25em) {
    body {
      font-size: 1rem; } }
  @media screen and (min-width: 62.5em) {
    body {
      font-size: 1rem; } }
  @media screen and (min-width: 87.5em) {
    body {
      font-size: 1rem; } }

ul, ol {
  margin-bottom: 1.33999rem;
  padding-top: 0.66001rem; }
  @media screen and (min-width: 27.5em) {
    ul, ol {
      margin-bottom: 1.33999rem;
      padding-top: 0.66001rem; } }
  @media screen and (min-width: 46.25em) {
    ul, ol {
      margin-bottom: 1.33999rem;
      padding-top: 0.66001rem; } }
  @media screen and (min-width: 62.5em) {
    ul, ol {
      margin-bottom: 1.33999rem;
      padding-top: 0.66001rem; } }
  @media screen and (min-width: 87.5em) {
    ul, ol {
      margin-bottom: 1.33999rem;
      padding-top: 0.66001rem; } }

li {
  -webkit-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
     -moz-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
          font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  margin-left: 2rem; }

li > ul, li > ol {
  margin-bottom: 0; }

p {
  margin-bottom: 1.33999rem;
  padding-top: 0.66001rem;
  -webkit-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
     -moz-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
          font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  margin-top: 0; }
  @media screen and (min-width: 27.5em) {
    p {
      margin-bottom: 1.33999rem;
      padding-top: 0.66001rem; } }
  @media screen and (min-width: 46.25em) {
    p {
      margin-bottom: 1.33999rem;
      padding-top: 0.66001rem; } }
  @media screen and (min-width: 62.5em) {
    p {
      margin-bottom: 1.33999rem;
      padding-top: 0.66001rem; } }
  @media screen and (min-width: 87.5em) {
    p {
      margin-bottom: 1.33999rem;
      padding-top: 0.66001rem; } }

blockquote {
  margin: 0; }
  blockquote p {
    line-height: 3rem;
    font-size: 1.414rem;
    margin-bottom: 1.98075rem;
    padding-top: 1.01925rem;
    font-style: italic;
    padding-left: 1rem;
    padding-right: 1rem; }
    @media screen and (min-width: 27.5em) {
      blockquote p {
        font-size: 1.414rem;
        margin-bottom: 1.98075rem;
        padding-top: 1.01925rem; } }
    @media screen and (min-width: 46.25em) {
      blockquote p {
        font-size: 1.414rem;
        margin-bottom: 1.98075rem;
        padding-top: 1.01925rem; } }
    @media screen and (min-width: 62.5em) {
      blockquote p {
        font-size: 1.414rem;
        margin-bottom: 1.98075rem;
        padding-top: 1.01925rem; } }
    @media screen and (min-width: 87.5em) {
      blockquote p {
        font-size: 1.414rem;
        margin-bottom: 1.98075rem;
        padding-top: 1.01925rem; } }

th, td {
  padding: 12.5px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
     -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
          font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  font-style: normal;
  font-weight: 600;
  margin-top: 0; }

h1 {
  line-height: 3rem;
  font-size: 2.28571rem;
  margin-bottom: 0.29999rem;
  padding-top: 0.70001rem; }
  @media screen and (min-width: 27.5em) {
    h1 {
      font-size: 2.28571rem;
      margin-bottom: 0.29999rem;
      padding-top: 0.70001rem; } }
  @media screen and (min-width: 46.25em) {
    h1 {
      font-size: 2.28571rem;
      margin-bottom: 0.29999rem;
      padding-top: 0.70001rem; } }
  @media screen and (min-width: 62.5em) {
    h1 {
      font-size: 2.28571rem;
      margin-bottom: 0.29999rem;
      padding-top: 0.70001rem; } }
  @media screen and (min-width: 87.5em) {
    h1 {
      font-size: 2.28571rem;
      margin-bottom: 0.29999rem;
      padding-top: 0.70001rem; } }

h2 {
  line-height: 3rem;
  font-size: 1.9994rem;
  margin-bottom: 0.19978rem;
  padding-top: 0.80022rem; }
  @media screen and (min-width: 27.5em) {
    h2 {
      font-size: 1.9994rem;
      margin-bottom: 0.19978rem;
      padding-top: 0.80022rem; } }
  @media screen and (min-width: 46.25em) {
    h2 {
      font-size: 1.9994rem;
      margin-bottom: 0.19978rem;
      padding-top: 0.80022rem; } }
  @media screen and (min-width: 62.5em) {
    h2 {
      font-size: 1.9994rem;
      margin-bottom: 0.19978rem;
      padding-top: 0.80022rem; } }
  @media screen and (min-width: 87.5em) {
    h2 {
      font-size: 1.9994rem;
      margin-bottom: 0.19978rem;
      padding-top: 0.80022rem; } }

h3 {
  line-height: 3rem;
  font-size: 1.61649rem;
  margin-bottom: 0.06576rem;
  padding-top: 0.93424rem; }
  @media screen and (min-width: 27.5em) {
    h3 {
      font-size: 1.61649rem;
      margin-bottom: 0.06576rem;
      padding-top: 0.93424rem; } }
  @media screen and (min-width: 46.25em) {
    h3 {
      font-size: 1.61649rem;
      margin-bottom: 0.06576rem;
      padding-top: 0.93424rem; } }
  @media screen and (min-width: 62.5em) {
    h3 {
      font-size: 1.61649rem;
      margin-bottom: 0.06576rem;
      padding-top: 0.93424rem; } }
  @media screen and (min-width: 87.5em) {
    h3 {
      font-size: 1.61649rem;
      margin-bottom: 0.06576rem;
      padding-top: 0.93424rem; } }

h4 {
  font-size: 1.414rem;
  margin-bottom: 0.49489rem;
  padding-top: 0.50511rem; }
  @media screen and (min-width: 27.5em) {
    h4 {
      font-size: 1.414rem;
      margin-bottom: 0.49489rem;
      padding-top: 0.50511rem; } }
  @media screen and (min-width: 46.25em) {
    h4 {
      font-size: 1.414rem;
      margin-bottom: 0.49489rem;
      padding-top: 0.50511rem; } }
  @media screen and (min-width: 62.5em) {
    h4 {
      font-size: 1.414rem;
      margin-bottom: 0.49489rem;
      padding-top: 0.50511rem; } }
  @media screen and (min-width: 87.5em) {
    h4 {
      font-size: 1.414rem;
      margin-bottom: 0.49489rem;
      padding-top: 0.50511rem; } }

h5 {
  font-size: 1.1432rem;
  margin-bottom: -0.59989rem;
  padding-top: 0.59989rem; }
  @media screen and (min-width: 27.5em) {
    h5 {
      font-size: 1.1432rem;
      margin-bottom: -0.59989rem;
      padding-top: 0.59989rem; } }
  @media screen and (min-width: 46.25em) {
    h5 {
      font-size: 1.1432rem;
      margin-bottom: -0.59989rem;
      padding-top: 0.59989rem; } }
  @media screen and (min-width: 62.5em) {
    h5 {
      font-size: 1.1432rem;
      margin-bottom: -0.59989rem;
      padding-top: 0.59989rem; } }
  @media screen and (min-width: 87.5em) {
    h5 {
      font-size: 1.1432rem;
      margin-bottom: -0.59989rem;
      padding-top: 0.59989rem; } }

h6 {
  font-size: 1rem;
  margin-bottom: -0.65001rem;
  padding-top: 0.65001rem; }
  @media screen and (min-width: 27.5em) {
    h6 {
      font-size: 1rem;
      margin-bottom: -0.65001rem;
      padding-top: 0.65001rem; } }
  @media screen and (min-width: 46.25em) {
    h6 {
      font-size: 1rem;
      margin-bottom: -0.65001rem;
      padding-top: 0.65001rem; } }
  @media screen and (min-width: 62.5em) {
    h6 {
      font-size: 1rem;
      margin-bottom: -0.65001rem;
      padding-top: 0.65001rem; } }
  @media screen and (min-width: 87.5em) {
    h6 {
      font-size: 1rem;
      margin-bottom: -0.65001rem;
      padding-top: 0.65001rem; } }

a {
  /* border-bottom: \$base-border; */
  color: #35D7BB;
  text-decoration: none; }
  a:hover, a:focus {
    border-bottom-color: #35D7BB;
    color: #dff9f4; }

img {
  height: auto;
  max-width: 100%; }

.g {
  display: block; }
  .g:after {
    clear: both;
    content: '';
    display: table; }

.g-b {
  float: left;
  margin: 0;
  width: 100%; }

.g {
  margin-left: -10px;
  margin-right: -10px; }

.g-b {
  padding-left: 10px;
  padding-right: 10px; }

@media screen and (min-width: 27.5em) {
  .g {
    margin-left: -10px;
    margin-right: -10px; }
  .g-b {
    padding-left: 10px;
    padding-right: 10px; } }

@media screen and (min-width: 46.25em) {
  .g {
    margin-left: -10px;
    margin-right: -10px; }
  .g-b {
    padding-left: 10px;
    padding-right: 10px; } }

@media screen and (min-width: 62.5em) {
  .g {
    margin-left: -12px;
    margin-right: -12px; }
  .g-b {
    padding-left: 12px;
    padding-right: 12px; } }

.g-b--center {
  display: block;
  float: none;
  margin: 0 auto; }

.g-b--right {
  float: right; }

.g-b--1of1 {
  width: 100%; }

.g-b--1of2, .g-b--2of4, .g-b--3of6, .g-b--4of8, .g-b--5of10, .g-b--6of12 {
  width: 50%; }

.g-b--1of3, .g-b--2of6, .g-b--4of12 {
  width: 33.333%; }

.g-b--2of3, .g-b--4of6, .g-b--8of12 {
  width: 66.666%; }

.g-b--1of4, .g-b--2of8, .g-b--3of12 {
  width: 25%; }

.g-b--3of4, .g-b--6of8, .g-b--9of12 {
  width: 75%; }

.g-b--1of5, .g-b--2of10 {
  width: 20%; }

.g-b--2of5, .g-b--4of10 {
  width: 40%; }

.g-b--3of5, .g-b--6of10 {
  width: 60%; }

.g-b--4of5, .g-b--8of10 {
  width: 80%; }

.g-b--1of6, .g-b--2of12 {
  width: 16.666%; }

.g-b--5of6, .g-b--10of12 {
  width: 83.333%; }

.g-b--1of8 {
  width: 12.5%; }

.g-b--3of8 {
  width: 37.5%; }

.g-b--5of8 {
  width: 62.5%; }

.g-b--7of8 {
  width: 87.5%; }

.g-b--1of10 {
  width: 10%; }

.g-b--3of10 {
  width: 30%; }

.g-b--7of10 {
  width: 70%; }

.g-b--9of10 {
  width: 90%; }

.g-b--1of12 {
  width: 8.333%; }

.g-b--5of12 {
  width: 41.666%; }

.g-b--7of12 {
  width: 58.333%; }

.g-b--11of12 {
  width: 91.666%; }

.g-b--push--1of1 {
  margin-left: 100%; }

.g-b--push--1of2, .g-b--push--2of4, .g-b--push--3of6, .g-b--push--4of8, .g-b--push--5of10, .g-b--push--6of12 {
  margin-left: 50%; }

.g-b--push--1of3, .g-b--push--2of6, .g-b--push--4of12 {
  margin-left: 33.333%; }

.g-b--push--2of3, .g-b--push--4of6, .g-b--push--8of12 {
  margin-left: 66.666%; }

.g-b--push--1of4, .g-b--push--2of8, .g-b--push--3of12 {
  margin-left: 25%; }

.g-b--push--3of4, .g-b--push--6of8, .g-b--push--9of12 {
  margin-left: 75%; }

.g-b--push--1of5, .g-b--push--2of10 {
  margin-left: 20%; }

.g-b--push--2of5, .g-b--push--4of10 {
  margin-left: 40%; }

.g-b--push--3of5, .g-b--push--6of10 {
  margin-left: 60%; }

.g-b--push--4of5, .g-b--push--8of10 {
  margin-left: 80%; }

.g-b--push--1of6, .g-b--push--2of12 {
  margin-left: 16.666%; }

.g-b--push--5of6, .g-b--push--10of12 {
  margin-left: 83.333%; }

.g-b--push--1of8 {
  margin-left: 12.5%; }

.g-b--push--3of8 {
  margin-left: 37.5%; }

.g-b--push--5of8 {
  margin-left: 62.5%; }

.g-b--push--7of8 {
  margin-left: 87.5%; }

.g-b--push--1of10 {
  margin-left: 10%; }

.g-b--push--3of10 {
  margin-left: 30%; }

.g-b--push--7of10 {
  margin-left: 70%; }

.g-b--push--9of10 {
  margin-left: 90%; }

.g-b--push--1of12 {
  margin-left: 8.333%; }

.g-b--push--5of12 {
  margin-left: 41.666%; }

.g-b--push--7of12 {
  margin-left: 58.333%; }

.g-b--push--11of12 {
  margin-left: 91.666%; }

.g-b--pull--1of1 {
  margin-right: 100%; }

.g-b--pull--1of2, .g-b--pull--2of4, .g-b--pull--3of6, .g-b--pull--4of8, .g-b--pull--5of10, .g-b--pull--6of12 {
  margin-right: 50%; }

.g-b--pull--1of3, .g-b--pull--2of6, .g-b--pull--4of12 {
  margin-right: 33.333%; }

.g-b--pull--2of3, .g-b--pull--4of6, .g-b--pull--8of12 {
  margin-right: 66.666%; }

.g-b--pull--1of4, .g-b--pull--2of8, .g-b--pull--3of12 {
  margin-right: 25%; }

.g-b--pull--3of4, .g-b--pull--6of8, .g-b--pull--9of12 {
  margin-right: 75%; }

.g-b--pull--1of5, .g-b--pull--2of10 {
  margin-right: 20%; }

.g-b--pull--2of5, .g-b--pull--4of10 {
  margin-right: 40%; }

.g-b--pull--3of5, .g-b--pull--6of10 {
  margin-right: 60%; }

.g-b--pull--4of5, .g-b--pull--8of10 {
  margin-right: 80%; }

.g-b--pull--1of6, .g-b--pull--2of12 {
  margin-right: 16.666%; }

.g-b--pull--5of6, .g-b--pull--10of12 {
  margin-right: 83.333%; }

.g-b--pull--1of8 {
  margin-right: 12.5%; }

.g-b--pull--3of8 {
  margin-right: 37.5%; }

.g-b--pull--5of8 {
  margin-right: 62.5%; }

.g-b--pull--7of8 {
  margin-right: 87.5%; }

.g-b--pull--1of10 {
  margin-right: 10%; }

.g-b--pull--3of10 {
  margin-right: 30%; }

.g-b--pull--7of10 {
  margin-right: 70%; }

.g-b--pull--9of10 {
  margin-right: 90%; }

.g-b--pull--1of12 {
  margin-right: 8.333%; }

.g-b--pull--5of12 {
  margin-right: 41.666%; }

.g-b--pull--7of12 {
  margin-right: 58.333%; }

.g-b--pull--11of12 {
  margin-right: 91.666%; }

@media screen and (min-width: 27.5em) {
  .g-b--m1of1 {
    width: 100%; }
  .g-b--m1of2, .g-b--m2of4, .g-b--m3of6, .g-b--m4of8, .g-b--m5of10, .g-b--m6of12 {
    width: 50%; }
  .g-b--m1of3, .g-b--m2of6, .g-b--m4of12 {
    width: 33.333%; }
  .g-b--m2of3, .g-b--m4of6, .g-b--m8of12 {
    width: 66.666%; }
  .g-b--m1of4, .g-b--m2of8, .g-b--m3of12 {
    width: 25%; }
  .g-b--m3of4, .g-b--m6of8, .g-b--m9of12 {
    width: 75%; }
  .g-b--m1of5, .g-b--m2of10 {
    width: 20%; }
  .g-b--m2of5, .g-b--m4of10 {
    width: 40%; }
  .g-b--m3of5, .g-b--m6of10 {
    width: 60%; }
  .g-b--m4of5, .g-b--m8of10 {
    width: 80%; }
  .g-b--m1of6, .g-b--m2of12 {
    width: 16.666%; }
  .g-b--m5of6, .g-b--m10of12 {
    width: 83.333%; }
  .g-b--m1of8 {
    width: 12.5%; }
  .g-b--m3of8 {
    width: 37.5%; }
  .g-b--m5of8 {
    width: 62.5%; }
  .g-b--m7of8 {
    width: 87.5%; }
  .g-b--m1of10 {
    width: 10%; }
  .g-b--m3of10 {
    width: 30%; }
  .g-b--m7of10 {
    width: 70%; }
  .g-b--m9of10 {
    width: 90%; }
  .g-b--m1of12 {
    width: 8.333%; }
  .g-b--m5of12 {
    width: 41.666%; }
  .g-b--m7of12 {
    width: 58.333%; }
  .g-b--m11of12 {
    width: 91.666%; }
  .g-b--push--m1of1 {
    margin-left: 100%; }
  .g-b--push--m1of2, .g-b--push--m2of4, .g-b--push--m3of6, .g-b--push--m4of8, .g-b--push--m5of10, .g-b--push--m6of12 {
    margin-left: 50%; }
  .g-b--push--m1of3, .g-b--push--m2of6, .g-b--push--m4of12 {
    margin-left: 33.333%; }
  .g-b--push--m2of3, .g-b--push--m4of6, .g-b--push--m8of12 {
    margin-left: 66.666%; }
  .g-b--push--m1of4, .g-b--push--m2of8, .g-b--push--m3of12 {
    margin-left: 25%; }
  .g-b--push--m3of4, .g-b--push--m6of8, .g-b--push--m9of12 {
    margin-left: 75%; }
  .g-b--push--m1of5, .g-b--push--m2of10 {
    margin-left: 20%; }
  .g-b--push--m2of5, .g-b--push--m4of10 {
    margin-left: 40%; }
  .g-b--push--m3of5, .g-b--push--m6of10 {
    margin-left: 60%; }
  .g-b--push--m4of5, .g-b--push--m8of10 {
    margin-left: 80%; }
  .g-b--push--m1of6, .g-b--push--m2of12 {
    margin-left: 16.666%; }
  .g-b--push--m5of6, .g-b--push--m10of12 {
    margin-left: 83.333%; }
  .g-b--push--m1of8 {
    margin-left: 12.5%; }
  .g-b--push--m3of8 {
    margin-left: 37.5%; }
  .g-b--push--m5of8 {
    margin-left: 62.5%; }
  .g-b--push--m7of8 {
    margin-left: 87.5%; }
  .g-b--push--m1of10 {
    margin-left: 10%; }
  .g-b--push--m3of10 {
    margin-left: 30%; }
  .g-b--push--m7of10 {
    margin-left: 70%; }
  .g-b--push--m9of10 {
    margin-left: 90%; }
  .g-b--push--m1of12 {
    margin-left: 8.333%; }
  .g-b--push--m5of12 {
    margin-left: 41.666%; }
  .g-b--push--m7of12 {
    margin-left: 58.333%; }
  .g-b--push--m11of12 {
    margin-left: 91.666%; }
  .g-b--pull--m1of1 {
    margin-right: 100%; }
  .g-b--pull--m1of2, .g-b--pull--m2of4, .g-b--pull--m3of6, .g-b--pull--m4of8, .g-b--pull--m5of10, .g-b--pull--m6of12 {
    margin-right: 50%; }
  .g-b--pull--m1of3, .g-b--pull--m2of6, .g-b--pull--m4of12 {
    margin-right: 33.333%; }
  .g-b--pull--m2of3, .g-b--pull--m4of6, .g-b--pull--m8of12 {
    margin-right: 66.666%; }
  .g-b--pull--m1of4, .g-b--pull--m2of8, .g-b--pull--m3of12 {
    margin-right: 25%; }
  .g-b--pull--m3of4, .g-b--pull--m6of8, .g-b--pull--m9of12 {
    margin-right: 75%; }
  .g-b--pull--m1of5, .g-b--pull--m2of10 {
    margin-right: 20%; }
  .g-b--pull--m2of5, .g-b--pull--m4of10 {
    margin-right: 40%; }
  .g-b--pull--m3of5, .g-b--pull--m6of10 {
    margin-right: 60%; }
  .g-b--pull--m4of5, .g-b--pull--m8of10 {
    margin-right: 80%; }
  .g-b--pull--m1of6, .g-b--pull--m2of12 {
    margin-right: 16.666%; }
  .g-b--pull--m5of6, .g-b--pull--m10of12 {
    margin-right: 83.333%; }
  .g-b--pull--m1of8 {
    margin-right: 12.5%; }
  .g-b--pull--m3of8 {
    margin-right: 37.5%; }
  .g-b--pull--m5of8 {
    margin-right: 62.5%; }
  .g-b--pull--m7of8 {
    margin-right: 87.5%; }
  .g-b--pull--m1of10 {
    margin-right: 10%; }
  .g-b--pull--m3of10 {
    margin-right: 30%; }
  .g-b--pull--m7of10 {
    margin-right: 70%; }
  .g-b--pull--m9of10 {
    margin-right: 90%; }
  .g-b--pull--m1of12 {
    margin-right: 8.333%; }
  .g-b--pull--m5of12 {
    margin-right: 41.666%; }
  .g-b--pull--m7of12 {
    margin-right: 58.333%; }
  .g-b--pull--m11of12 {
    margin-right: 91.666%; } }

@media screen and (min-width: 46.25em) {
  .g-b--t1of1 {
    width: 100%; }
  .g-b--t1of2, .g-b--t2of4, .g-b--t3of6, .g-b--t4of8, .g-b--t5of10, .g-b--t6of12 {
    width: 50%; }
  .g-b--t1of3, .g-b--t2of6, .g-b--t4of12 {
    width: 33.333%; }
  .g-b--t2of3, .g-b--t4of6, .g-b--t8of12 {
    width: 66.666%; }
  .g-b--t1of4, .g-b--t2of8, .g-b--t3of12 {
    width: 25%; }
  .g-b--t3of4, .g-b--t6of8, .g-b--t9of12 {
    width: 75%; }
  .g-b--t1of5, .g-b--t2of10 {
    width: 20%; }
  .g-b--t2of5, .g-b--t4of10 {
    width: 40%; }
  .g-b--t3of5, .g-b--t6of10 {
    width: 60%; }
  .g-b--t4of5, .g-b--t8of10 {
    width: 80%; }
  .g-b--t1of6, .g-b--t2of12 {
    width: 16.666%; }
  .g-b--t5of6, .g-b--t10of12 {
    width: 83.333%; }
  .g-b--t1of8 {
    width: 12.5%; }
  .g-b--t3of8 {
    width: 37.5%; }
  .g-b--t5of8 {
    width: 62.5%; }
  .g-b--t7of8 {
    width: 87.5%; }
  .g-b--t1of10 {
    width: 10%; }
  .g-b--t3of10 {
    width: 30%; }
  .g-b--t7of10 {
    width: 70%; }
  .g-b--t9of10 {
    width: 90%; }
  .g-b--t1of12 {
    width: 8.333%; }
  .g-b--t5of12 {
    width: 41.666%; }
  .g-b--t7of12 {
    width: 58.333%; }
  .g-b--t11of12 {
    width: 91.666%; }
  .g-b--push--t1of1 {
    margin-left: 100%; }
  .g-b--push--t1of2, .g-b--push--t2of4, .g-b--push--t3of6, .g-b--push--t4of8, .g-b--push--t5of10, .g-b--push--t6of12 {
    margin-left: 50%; }
  .g-b--push--t1of3, .g-b--push--t2of6, .g-b--push--t4of12 {
    margin-left: 33.333%; }
  .g-b--push--t2of3, .g-b--push--t4of6, .g-b--push--t8of12 {
    margin-left: 66.666%; }
  .g-b--push--t1of4, .g-b--push--t2of8, .g-b--push--t3of12 {
    margin-left: 25%; }
  .g-b--push--t3of4, .g-b--push--t6of8, .g-b--push--t9of12 {
    margin-left: 75%; }
  .g-b--push--t1of5, .g-b--push--t2of10 {
    margin-left: 20%; }
  .g-b--push--t2of5, .g-b--push--t4of10 {
    margin-left: 40%; }
  .g-b--push--t3of5, .g-b--push--t6of10 {
    margin-left: 60%; }
  .g-b--push--t4of5, .g-b--push--t8of10 {
    margin-left: 80%; }
  .g-b--push--t1of6, .g-b--push--t2of12 {
    margin-left: 16.666%; }
  .g-b--push--t5of6, .g-b--push--t10of12 {
    margin-left: 83.333%; }
  .g-b--push--t1of8 {
    margin-left: 12.5%; }
  .g-b--push--t3of8 {
    margin-left: 37.5%; }
  .g-b--push--t5of8 {
    margin-left: 62.5%; }
  .g-b--push--t7of8 {
    margin-left: 87.5%; }
  .g-b--push--t1of10 {
    margin-left: 10%; }
  .g-b--push--t3of10 {
    margin-left: 30%; }
  .g-b--push--t7of10 {
    margin-left: 70%; }
  .g-b--push--t9of10 {
    margin-left: 90%; }
  .g-b--push--t1of12 {
    margin-left: 8.333%; }
  .g-b--push--t5of12 {
    margin-left: 41.666%; }
  .g-b--push--t7of12 {
    margin-left: 58.333%; }
  .g-b--push--t11of12 {
    margin-left: 91.666%; }
  .g-b--pull--t1of1 {
    margin-right: 100%; }
  .g-b--pull--t1of2, .g-b--pull--t2of4, .g-b--pull--t3of6, .g-b--pull--t4of8, .g-b--pull--t5of10, .g-b--pull--t6of12 {
    margin-right: 50%; }
  .g-b--pull--t1of3, .g-b--pull--t2of6, .g-b--pull--t4of12 {
    margin-right: 33.333%; }
  .g-b--pull--t2of3, .g-b--pull--t4of6, .g-b--pull--t8of12 {
    margin-right: 66.666%; }
  .g-b--pull--t1of4, .g-b--pull--t2of8, .g-b--pull--t3of12 {
    margin-right: 25%; }
  .g-b--pull--t3of4, .g-b--pull--t6of8, .g-b--pull--t9of12 {
    margin-right: 75%; }
  .g-b--pull--t1of5, .g-b--pull--t2of10 {
    margin-right: 20%; }
  .g-b--pull--t2of5, .g-b--pull--t4of10 {
    margin-right: 40%; }
  .g-b--pull--t3of5, .g-b--pull--t6of10 {
    margin-right: 60%; }
  .g-b--pull--t4of5, .g-b--pull--t8of10 {
    margin-right: 80%; }
  .g-b--pull--t1of6, .g-b--pull--t2of12 {
    margin-right: 16.666%; }
  .g-b--pull--t5of6, .g-b--pull--t10of12 {
    margin-right: 83.333%; }
  .g-b--pull--t1of8 {
    margin-right: 12.5%; }
  .g-b--pull--t3of8 {
    margin-right: 37.5%; }
  .g-b--pull--t5of8 {
    margin-right: 62.5%; }
  .g-b--pull--t7of8 {
    margin-right: 87.5%; }
  .g-b--pull--t1of10 {
    margin-right: 10%; }
  .g-b--pull--t3of10 {
    margin-right: 30%; }
  .g-b--pull--t7of10 {
    margin-right: 70%; }
  .g-b--pull--t9of10 {
    margin-right: 90%; }
  .g-b--pull--t1of12 {
    margin-right: 8.333%; }
  .g-b--pull--t5of12 {
    margin-right: 41.666%; }
  .g-b--pull--t7of12 {
    margin-right: 58.333%; }
  .g-b--pull--t11of12 {
    margin-right: 91.666%; } }

@media screen and (min-width: 62.5em) {
  .g-b--d1of1 {
    width: 100%; }
  .g-b--d1of2, .g-b--d2of4, .g-b--d3of6, .g-b--d4of8, .g-b--d5of10, .g-b--d6of12 {
    width: 50%; }
  .g-b--d1of3, .g-b--d2of6, .g-b--d4of12 {
    width: 33.333%; }
  .g-b--d2of3, .g-b--d4of6, .g-b--d8of12 {
    width: 66.666%; }
  .g-b--d1of4, .g-b--d2of8, .g-b--d3of12 {
    width: 25%; }
  .g-b--d3of4, .g-b--d6of8, .g-b--d9of12 {
    width: 75%; }
  .g-b--d1of5, .g-b--d2of10 {
    width: 20%; }
  .g-b--d2of5, .g-b--d4of10 {
    width: 40%; }
  .g-b--d3of5, .g-b--d6of10 {
    width: 60%; }
  .g-b--d4of5, .g-b--d8of10 {
    width: 80%; }
  .g-b--d1of6, .g-b--d2of12 {
    width: 16.666%; }
  .g-b--d5of6, .g-b--d10of12 {
    width: 83.333%; }
  .g-b--d1of8 {
    width: 12.5%; }
  .g-b--d3of8 {
    width: 37.5%; }
  .g-b--d5of8 {
    width: 62.5%; }
  .g-b--d7of8 {
    width: 87.5%; }
  .g-b--d1of10 {
    width: 10%; }
  .g-b--d3of10 {
    width: 30%; }
  .g-b--d7of10 {
    width: 70%; }
  .g-b--d9of10 {
    width: 90%; }
  .g-b--d1of12 {
    width: 8.333%; }
  .g-b--d5of12 {
    width: 41.666%; }
  .g-b--d7of12 {
    width: 58.333%; }
  .g-b--d11of12 {
    width: 91.666%; }
  .g-b--push--d1of1 {
    margin-left: 100%; }
  .g-b--push--d1of2, .g-b--push--d2of4, .g-b--push--d3of6, .g-b--push--d4of8, .g-b--push--d5of10, .g-b--push--d6of12 {
    margin-left: 50%; }
  .g-b--push--d1of3, .g-b--push--d2of6, .g-b--push--d4of12 {
    margin-left: 33.333%; }
  .g-b--push--d2of3, .g-b--push--d4of6, .g-b--push--d8of12 {
    margin-left: 66.666%; }
  .g-b--push--d1of4, .g-b--push--d2of8, .g-b--push--d3of12 {
    margin-left: 25%; }
  .g-b--push--d3of4, .g-b--push--d6of8, .g-b--push--d9of12 {
    margin-left: 75%; }
  .g-b--push--d1of5, .g-b--push--d2of10 {
    margin-left: 20%; }
  .g-b--push--d2of5, .g-b--push--d4of10 {
    margin-left: 40%; }
  .g-b--push--d3of5, .g-b--push--d6of10 {
    margin-left: 60%; }
  .g-b--push--d4of5, .g-b--push--d8of10 {
    margin-left: 80%; }
  .g-b--push--d1of6, .g-b--push--d2of12 {
    margin-left: 16.666%; }
  .g-b--push--d5of6, .g-b--push--d10of12 {
    margin-left: 83.333%; }
  .g-b--push--d1of8 {
    margin-left: 12.5%; }
  .g-b--push--d3of8 {
    margin-left: 37.5%; }
  .g-b--push--d5of8 {
    margin-left: 62.5%; }
  .g-b--push--d7of8 {
    margin-left: 87.5%; }
  .g-b--push--d1of10 {
    margin-left: 10%; }
  .g-b--push--d3of10 {
    margin-left: 30%; }
  .g-b--push--d7of10 {
    margin-left: 70%; }
  .g-b--push--d9of10 {
    margin-left: 90%; }
  .g-b--push--d1of12 {
    margin-left: 8.333%; }
  .g-b--push--d5of12 {
    margin-left: 41.666%; }
  .g-b--push--d7of12 {
    margin-left: 58.333%; }
  .g-b--push--d11of12 {
    margin-left: 91.666%; }
  .g-b--pull--d1of1 {
    margin-right: 100%; }
  .g-b--pull--d1of2, .g-b--pull--d2of4, .g-b--pull--d3of6, .g-b--pull--d4of8, .g-b--pull--d5of10, .g-b--pull--d6of12 {
    margin-right: 50%; }
  .g-b--pull--d1of3, .g-b--pull--d2of6, .g-b--pull--d4of12 {
    margin-right: 33.333%; }
  .g-b--pull--d2of3, .g-b--pull--d4of6, .g-b--pull--d8of12 {
    margin-right: 66.666%; }
  .g-b--pull--d1of4, .g-b--pull--d2of8, .g-b--pull--d3of12 {
    margin-right: 25%; }
  .g-b--pull--d3of4, .g-b--pull--d6of8, .g-b--pull--d9of12 {
    margin-right: 75%; }
  .g-b--pull--d1of5, .g-b--pull--d2of10 {
    margin-right: 20%; }
  .g-b--pull--d2of5, .g-b--pull--d4of10 {
    margin-right: 40%; }
  .g-b--pull--d3of5, .g-b--pull--d6of10 {
    margin-right: 60%; }
  .g-b--pull--d4of5, .g-b--pull--d8of10 {
    margin-right: 80%; }
  .g-b--pull--d1of6, .g-b--pull--d2of12 {
    margin-right: 16.666%; }
  .g-b--pull--d5of6, .g-b--pull--d10of12 {
    margin-right: 83.333%; }
  .g-b--pull--d1of8 {
    margin-right: 12.5%; }
  .g-b--pull--d3of8 {
    margin-right: 37.5%; }
  .g-b--pull--d5of8 {
    margin-right: 62.5%; }
  .g-b--pull--d7of8 {
    margin-right: 87.5%; }
  .g-b--pull--d1of10 {
    margin-right: 10%; }
  .g-b--pull--d3of10 {
    margin-right: 30%; }
  .g-b--pull--d7of10 {
    margin-right: 70%; }
  .g-b--pull--d9of10 {
    margin-right: 90%; }
  .g-b--pull--d1of12 {
    margin-right: 8.333%; }
  .g-b--pull--d5of12 {
    margin-right: 41.666%; }
  .g-b--pull--d7of12 {
    margin-right: 58.333%; }
  .g-b--pull--d11of12 {
    margin-right: 91.666%; } }

.splashscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; }

.page {
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;
  background-color: #fff; }
  .open-menu .page {
    -webkit-transform: translateX(270px);
        -ms-transform: translateX(270px);
            transform: translateX(270px); }

#editor {
  position: absolute;
  margin-right: 5px;
  top: 50px;
  left: 10px;
  bottom: 10px;
  right: 50%; }

#preview {
  position: absolute;
  margin-left: 5px;
  padding: 20px;
  left: 50%;
  bottom: 10px;
  right: 10px;
  top: 50px;
  overflow: auto;
  background: rgba(255, 255, 255, 0.9); }

.icon {
  display: block;
  margin: 0 auto;
  width: 36px;
  height: 36px;
  border-radius: 3px;
  text-align: center; }
  .icon svg {
    display: inline-block;
    margin-left: auto;
    margin-right: auto; }
  .icon-preview {
    background-color: #373D49;
    line-height: 40px; }
    .icon-preview svg {
      width: 19px;
      height: 12px; }
  .icon-settings {
    background-color: #373D49;
    line-height: 44px; }
    .icon-settings svg {
      width: 18px;
      height: 18px; }
  .icon-link {
    width: 16px;
    height: 16px;
    line-height: 1;
    margin-right: 24px;
    text-align: right; }

.navbar {
  background-color: #373D49;
  height: 51px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  -webkit-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out; }
  .navbar:after {
    content: "";
    display: table;
    clear: both; }
  .open-menu .navbar {
    -webkit-transform: translateX(270px);
        -ms-transform: translateX(270px);
            transform: translateX(270px); }
  .navbar-brand {
    float: left;
    margin: 0 0 0 24px;
    padding: 0;
    line-height: 41px; }
    .navbar-brand svg {
      width: 85px;
      height: 11px; }

.nav-left {
  float: left; }
.nav-right {
  float: right; }
.nav-sidebar {
  width: 100%; }

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  /*   @include from('desktop') {
  .menu-item-preview {
    display: none;
  }
} */ }
  .menu a {
    border: 0;
    color: #A0AABF;
    text-transform: uppercase;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: none; }
    .menu a:hover {
      color: #35D7BB; }
  .menu .menu-item {
    display: none;
    float: left;
    margin: 0;
    border: 0;
    position: relative; }
    .menu .menu-item > a {
      line-height: 51px;
      padding: 0 24px;
      display: block;
      height: 51px;
      font-size: 12px;
      letter-spacing: 1px; }
    .menu .menu-item.has-dropdown:hover a {
      background-color: #1D212A; }
    .menu .menu-item-icon {
      display: block; }
      .menu .menu-item-icon span {
        visibility: hidden;
        text-overflow: 110%;
        overflow: hidden;
        top: -100px;
        position: absolute; }
      .menu .menu-item-icon > a {
        padding: 0;
        height: auto; }
      .menu .menu-item-icon:hover a {
        background-color: transparent; }
  .menu .menu-link:hover i {
    background-color: #1D212A; }
  .menu .menu-link:hover g {
    fill: #35D7BB; }
  .menu .menu-link-preview {
    margin-top: 8px;
    width: 51px; }
  .menu .menu-link-settings {
    margin-top: 8px;
    width: 51px; }
  .menu-sidebar {
    width: 100%; }
    .menu-sidebar .menu-item {
      width: 100%;
      float: none;
      margin-bottom: 1px; }
    .menu-sidebar .open .caret {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
    .menu-sidebar > .menu-item:hover .dropdown a {
      background-color: transparent; }
    .menu-sidebar .menu-link {
      background-color: #373D49;
      font-weight: 600; }
      .menu-sidebar .menu-link:after {
        content: "";
        display: table;
        clear: both; }
      .menu-sidebar .menu-link > span {
        float: left; }
      .menu-sidebar .menu-link > .caret {
        text-align: right;
        float: right;
        top: 22px; }
    .menu-sidebar .dropdown {
      width: 100%;
      background-color: transparent;
      position: static; }
  @media screen and (min-width: 27.5em) {
    .menu .menu-item {
      display: block; } }

.dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: 51px;
  list-style: none;
  background-color: #1D212A;
  width: 188px;
  padding: 0;
  margin: 0; }
  .dropdown li {
    margin: 32px 0 32px;
    padding: 0 0 0 32px;
    line-height: 1; }
  .dropdown a {
    text-transform: none;
    display: block;
    color: #D0D6E2; }
    .dropdown a:after {
      content: "";
      display: table;
      clear: both; }
  .dropdown span {
    float: left; }
  .dropdown .icon {
    float: right; }
  .open .dropdown {
    display: block; }
  .dropdown .unlinked .icon {
    opacity: 0.3; }

.brand {
  border: none; }
  .brand:hover g {
    fill: #35D7BB; }

.toggle {
  display: block;
  width: 20px;
  height: 14px;
  margin: 24px 16px 0;
  float: left; }
  .toggle span:after, .toggle span:before {
    content: '';
    position: absolute;
    left: 0;
    top: -6px; }
  .toggle span:after {
    top: 6px; }
  .toggle span {
    position: relative;
    display: block; }
  .toggle span, .toggle span:after, .toggle span:before {
    width: 100%;
    height: 2px;
    background-color: #D3DAEA;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }
  .open-menu .toggle span, .toggle:hover span {
    background-color: transparent; }
    .open-menu .toggle span:before, .toggle:hover span:before {
      -webkit-transform: rotate(45deg) translate(3px, 3px);
          -ms-transform: rotate(45deg) translate(3px, 3px);
              transform: rotate(45deg) translate(3px, 3px); }
    .open-menu .toggle span:after, .toggle:hover span:after {
      -webkit-transform: rotate(-45deg) translate(5px, -6px);
          -ms-transform: rotate(-45deg) translate(5px, -6px);
              transform: rotate(-45deg) translate(5px, -6px); }

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 6px;
  vertical-align: middle;
  position: relative;
  top: -1px;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

.sidebar {
  overflow-y: scroll;
  width: 285px;
  height: 100%;
  padding-right: 15px; }
  .sidebar-wrapper {
    width: 270px;
    background-color: #2B2F36;
    min-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 1; }
  .sidebar-branding {
    width: 160px;
    padding: 0;
    margin: 16px auto; }
/*# sourceMappingURL=app.css.map */