@import 'dillinger-params'


bodyTransitionTime = .2s
mainTransitionTime = .15s
tr = top .25s ease-out

*
  outline 0

html
  overflow-y: hidden

nav
  text-align left
  padding 12px 20px 12px 9px

#app_wrap
  top 50px
  left 10px
  bottom 0
  right 10px
  position fixed

noscript
  z-index 99999
  position absolute
  top 30px
  width 100%

noscript p
  color #000
  font-size 24px
  text-align center
  padding 10px 0

/*
https://github.com/joemccann/dillinger/issues/126
*/

#app_wrap > #editor
  position absolute
  margin-right: 5px
  top 50px
  left 10px
  bottom 10px
  right 50%
  boxSizing()
  boxFlex()

#app_wrap > #preview
  position absolute
  margin-left: 5px
  padding 20px
  left 50%
  bottom 10px
  right 10px
  top 50px
  overflow auto
  background rgba(255, 255, 255, 0.9) url(notebookImg) repeat scroll top left
  boxSizing()
  boxFlex()

#app_wrap > #preview a
  text-decoration underline
  color blue

#github-button
  margin: 1% -9px 0 0
  float: right

#filename-counter-container
  position: absolute
  left: 10px
  top: 5px
  right 50%
  margin-right 5px
  z-index: 0
  boxSizing()

#right-top-pane
  font-size 16px /* match with filename/wordcount input */
  position absolute
  right 10px
  top 5px
  left 50%
  margin-left 5px
  boxSizing()

/* Have to scope because someone could type "## filename" */
#filename-counter-container > #filename
  width 100%

#filename-counter-container > #wordcounter
  width 18.5%
  float right

#filename-counter-container > #filename > span, #wordcounter
  overflow hidden
  font-size: 16px
  font-style: normal
  background: #F1EEEE
  height: 30px
  line-height: 30px
  padding: 0 6px
  display block
  float left
  boxSizing()

#filename-counter-container > #filename > span
  width 100%
  &:focus
    outline: 0

#filename-counter-container > #filename.show-word-count-filename-adjust
  width 80%
  display block
  margin 0 0 0 0

#notify_container
  userSelect(none)
  position fixed
  top -2px
  width 100%
  height auto
  overflow auto
  text-align center
  z-index 10001

#notify
  userSelect(none)
  width 300px
  margin 0 auto
  gradient-vertical(#CCFFCC, #66cc66)
  boxCenter()
  border 1px solid rgba(0, 0, 0, 0.0976562)
  color #444
  font-weight bold
  height auto
  line-height 1.5em
  padding 6px 8px
  text-align center
  overflow auto
  display none

#main
  opacity 1
  transition opacity mainTransitionTime linear
  -webkit-transition opacity mainTransitionTime linear
  -moz-transition opacity mainTransitionTime linear
  -o-transition opacity mainTransitionTime linear
  -ms-transition opacity mainTransitionTime linear

#main.bye
  opacity 0

#loading
  position absolute
  top 0
  left 0
  width 100%
  height 120%
  background #fff
  text-align center
  z-index 99998

#loading p:first-child
  color #000
  margin 300px auto 0
  text-align center
  font-size 72px

#loading p:last-child
  color #111
  margin 42px auto
  text-align center
  font-size 18px

#loading.swift_top
  top -100%
  transition tr
  -webkit-transition tr
  -moz-transition tr
  -o-transition tr
  -ms-transition tr

#loading.fade_slow, .fade_slow
  normOpacity(0)
  tr = opacity mainTransitionTime ease-in
  -webkit-transition tr
  -moz-transition tr
  -o-transition tr
  -ms-transition tr
  transition tr

.slick
  opacity 1
  transition opacity bodyTransitiontime linear
  -webkit-transition opacity bodyTransitionTime linear
  -moz-transition opacity bodyTransitionTime linear
  -o-transition opacity bodyTransitionTime linear
  -ms-transition opacity bodyTransitionTime linear

.bye
  opacity 0

.modal-body ul
  margin 0
  padding 0 0 18px 25px
  overflow auto

#preview iframe
  border 0px
  width 100%
  height 100%

/*
  Adding in bootstrap ~3.0 pager.disabled css.
  if upgrading bootstrap, check that this is still needed
*/
.pager .disabled>a, .pager .disabled>a:hover, .pager .disabled>a:focus, .pager .disabled>span
  color #999
  background-color #fff
  cursor not-allowed

.private_repo
  background transparent url(/img/icon_lock_16x16.png) no-repeat scroll top left

.private_repo .tree_file
  padding-left 20px

/* fix for lock being hidden by hover */
.private_repo a:hover
  background #f6f6f6
  padding-left 0px
  margin-left 20px

.topbar div ul
  float none
  margin 2px auto

.topbar div .core_menu ul li
  display block
  float none

.shadowbox
  margin 0 auto

.opacity_ten
  normOpacity(10)

.opacity_thirty
  normOpacity(30)

.set_wrap
  color #CCC
  display block
  line-height 27px
  font-size 0

.relative
  position relative

.vendor, .save
  padding-left 30px

.icon_vendor
  position absolute

.icon_vendor.github
  margin 3px 0 0 6px

.icon_vendor.dropbox
  margin 6px 0 0 9px

.slide_out
  margin-top -60px
  tr = margin-top .2s ease-out
  -webkit-transition tr
  -moz-transition tr
  -o-transition tr
  -ms-transition tr
  transition tr

.slide_in
  margin-top 0px
  tr = margin-top .2s ease-in
  -webkit-transition tr
  -moz-transition tr
  -o-transition tr
  -ms-transition tr
  transition tr

.slide_left
  margin-top 0px
  tr = margin-top .2s ease-in
  transition tr
  -webkit-transition tr
  -moz-transition tr
  -o-transition tr
  -ms-transition tr

.slide_left
  right 25px
  tr = right .2s ease-out
  -webkit-transition tr
  -moz-transition tr
  -o-transition tr
  -ms-transition tr
  transition tr

.slide_right
  right -40px
  tr = right .2s ease-out
  -webkit-transition tr
  -moz-transition tr
  -o-transition tr
  -ms-transition tr  transition tr

.main-error
  margin 2% auto
  max-width 660px
