/* To be used for dillinger specific only */

spin(color, amount)
  h = hue(color)
  s = saturation(color)
  l = lightness(color)
  a = alpha(color)
  hue = (h + amount) % 360
  h = hue < 0 ? 360 + hue : hue
  return hsla(h,s,l,a)

fade-in(color, amount)
  h = hue(color)
  s = saturation(color)
  l = lightness(color)
  a = alpha(color)
  a += (amount/100)
  a = round(a)
  return hsla(h,s,l,a)

fade-out(color, amount)
  h = hue(color)
  s = saturation(color)
  l = lightness(color)
  a = alpha(color)
  a -= (amount/100)
  a = round(a)
  return hsla(h,s,l,a)


/* For debugging */
/* You should change this to your CDN...you are using a CDN, right? */
imagePrefix="/img/"

/* Images */
innerOneImg = imagePrefix + 'sprite_black2.png'
innerTwoImg = imagePrefix + 'arrow_down.png'
settingsImg = imagePrefix + 'h_bedf916a.png'
notebookImg = imagePrefix + 'notebook_paper_200x200.gif'
