/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir
	display: block
	border: 0
	text-indent: -999em
	overflow: hidden
	background-color: transparent
	background-repeat: no-repeat
	text-align: left
	direction: ltr
	*line-height: 0
.ir br
	display: none

/* Hide for both screenreaders and browsers: h5bp.com/m */
.hidden
	display: none !important
	visibility: hidden

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus
	clip: auto
	height: auto
	margin: 0
	overflow: visible
	position: static
	width: auto

