/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * Remove the gap between images and borders on image containers h5bp.com/i/440
 */

img
	vertical-align: middle

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root)
	overflow: hidden
