// HTML5 Boilerplate Variables
$linkColorVisited = #551a8b

$selectionBackground = #087185
$selectionText = #fff

$hrColor = #ccc

$insBackground = #ff9
$insText = #000

$markBackground = #ff0
$markText = #000