/* =============================================================================
Base
========================================================================== */


/*
* Remove text-shadow in selection highlight: h5bp.com/i
* These selection declarations have to be separate
* Also: hot pink! (or customize the background color to match your design)
*/

::-moz-selection
  background: $selectionBackground
  color: $selectionText
  text-shadow: none

::selection
  background: $selectionBackground
  color: $selectionText
  text-shadow: none
