/* =============================================================================
HTML5 element display
========================================================================== */

[hidden]
	display: none
