/* =============================================================================
Chrome Frame Prompt
========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }