<a id="drop0" href="#" class="dropdown-toggle" data-toggle="dropdown">Local Files <span class="caret"></span></a>
<ul class="dropdown-menu" role="menu" aria-labelledby="drop0">
  <li><a tabindex="-1" href="#" id="import_local_file"><i class="icon-file"></i>&nbsp;Load file</a></li>
  <li><a tabindex="-1" href="#" id="save_local_file"><i class="icon-file"></i>&nbsp;Save file</a></li>
  <li><a tabindex="-1" href="#" id="new_local_file"><i class="icon-file"></i>&nbsp;New file</a></li>
</ul>
