<% if(isOneDriveConfigured){ %>

<% if(isOneDriveAuth) {
    var icon = 'icon-minus'
    var copy = 'Unlink'
    var href = '/unlink/onedrive'
} else {
    var icon = 'icon-plus'
    var copy = 'Link'
    var href =  '/redirect/onedrive'
}
%>
<a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown">OneDrive <span class="caret"></span></a>
<ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
    <li><a tabindex="-1" href="<%- href %>"><i class="<%- icon %>"></i>&nbsp;<%- copy %> with OneDrive</a></li>
    <li><a tabindex="-1" href="#" id="import_onedrive"><i class="icon-download-alt"></i>&nbsp;Import from OneDrive</a></li>
    <li><a tabindex="-1" href="#" id="save_onedrive"><i class="icon-hdd"></i>&nbsp;Save to OneDrive</a></li>
</ul>
<% } %>
