<ul class="dropdown-menu" role="menu">
  <li>
    <a href="#">Auto Save</a>
  </li>
  <li>
    <a href="#">Word Count</a>
  </li>
  <li>
    <a href="#">Night Mode</a>
  </li>
  <li>
    <a href="#">Cheat Sheet</a>
  </li>
  <li>
    <a href="#">WTF is Dillinger?</a>
  </li>
  <li>
    <a href="#">Reset Profile</a>
  </li>
</ul>
