/**
 * jasonm23-markdown from https://github.com/mixu/markdown-styles/blob/master/layouts/jasonm23-markdown/assets/style.css
 */
/** preview css reset

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

#preview ,#preview div,#preview span,#preview applet,#preview object,#preview iframe,#preview
h1,#preview h2,#preview h3,#preview h4,#preview h5,#preview h6,#preview p,#preview blockquote,#preview pre,#preview
a,#preview abbr,#preview acronym,#preview address,#preview big,#preview cite,#preview code,#preview
del,#preview dfn,#preview em,#preview img,#preview ins,#preview kbd,#preview q,#preview s,#preview samp,#preview
small,#preview strike,#preview strong,#preview sub,#preview sup,#preview tt,#preview var,#preview
b,#preview u,#preview i,#preview center,#preview
dl,#preview dt,#preview dd,#preview ol,#preview ul,#preview li,#preview
fieldset,#preview form,#preview label,#preview legend,#preview
table,#preview caption,#preview tbody,#preview tfoot,#preview thead,#preview tr,#preview th,#preview td,#preview
article,#preview aside,#preview canvas,#preview details,#preview embed,#preview 
figure,#preview figcaption,#preview footer,#preview header,#preview hgroup,#preview 
menu,#preview nav,#preview output,#preview ruby,#preview section,#preview summary,#preview
time,#preview mark,#preview audio,#preview video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
#preview article,#preview aside,#preview details,#preview figcaption,#preview figure,#preview 
footer,#preview header,#preview hgroup,#preview menu,#preview nav,#preview section {
  display: block;
}
#preview {
  line-height: 1;
}
#preview ol,#preview ul {
  list-style: none;
}
#preview blockquote,#preview q {
  quotes: none;
}
#preview blockquote:before,#preview blockquote:after,#preview
q:before,#preview q:after {
  content: '';
  content: none;
}
#preview table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* BODY
=============================================================================*/

#preview {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
  padding: 20px;
  max-width: 960px;
  margin: 0 auto;
}

#preview>*:first-child {
  margin-top: 0 !important;
}

#preview>*:last-child {
  margin-bottom: 0 !important;
}

#preview {
    color: #444;
    font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    font-size: 12px;
    line-height: 1.5em;
    padding: 1em;
    max-width: 960px;
    margin: 0 auto;
    background: #fefefe;
}
#preview a {
    color: #0645ad;
    text-decoration: none;
}
#preview a:visited {
    color: #0b0080;
}
#preview a:hover {
    color: #06e;
}
#preview a:active {
    color: #faa700;
}
#preview a:focus {
    outline: thin dotted;
}
#preview a:hover,
#preview a:active {
    outline: 0;
}
::-moz-selection {
    background: rgba(255, 255, 0, 0.3);
    color: #000
}
::selection {
    background: rgba(255, 255, 0, 0.3);
    color: #000
}
#preview a::-moz-selection {
    background: rgba(255, 255, 0, 0.3);
    color: #0645ad
}
#preview a::selection {
    background: rgba(255, 255, 0, 0.3);
    color: #0645ad
}
#preview p {
    margin: 1em 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
#preview img {
    max-width: 100%;
}
#preview h1,
#preview h2,
#preview h3,
#preview h4,
#preview h5,
#preview h6 {
    font-weight: normal;
    color: #111;
    line-height: 1em;
}
#preview h4,
#preview h5,
#preview h6 {
    font-weight: bold;
}
#preview h1 {
    font-size: 2.5em;
}
#preview h2 {
    font-size: 2em;
}
#preview h3 {
    font-size: 1.5em;
}
#preview h4 {
    font-size: 1.2em;
}
#preview h5 {
    font-size: 1em;
}
#preview h6 {
    font-size: 0.9em;
}
#preview blockquote {
    color: #666666;
    margin: 0;
    padding-left: 3em;
    border-left: 0.5em #EEE solid;
}
#preview hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #eee;
    margin: 1em 0;
    padding: 0;
}
#preview pre,
#preview code,
#preview kbd,
#preview samp {
    color: #000;
    font-family: monospace, monospace;
    _font-family: 'courier new', monospace;
    font-size: 0.98em;
}
#preview pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 12px;
    margin: 0.6em 0 0.6em;
}
#preview b,
#preview strong {
    font-weight: bold;
}
#preview dfn {
    font-style: italic;
}
#preview ins {
    background: #ff9;
    color: #000;
    text-decoration: none;
}
#preview mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
#preview sub,
#preview sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
#preview sup {
    top: -0.5em;
}
#preview sub {
    bottom: -0.25em;
}
#preview ul,
#preview ol {
    margin: 1em 0;
    padding: 0 0 0 2em;
}
#preview li p:last-child {
    margin: 0
}
#preview dd {
    margin: 0 0 0 2em;
}
#preview img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}
#preview table {
    border-collapse: collapse;
    border-spacing: 0;
}
#preview td {
    vertical-align: top;
}
@media only screen and (min-width: 480px) {
    #preview {
        font-size: 14px;
    }
}
@media only screen and (min-width: 768px) {
    #preview {
        font-size: 16px;
    }
}
@media print {
    * {
        background: transparent !important;
        color: black !important;
        filter: none !important;
        -ms-filter: none !important;
    }
    #preview {
        font-size: 12pt;
        max-width: 100%;
    }
    #preview a,
    #preview a:visited {
        text-decoration: underline;
    }
    #preview hr {
        height: 1px;
        border: 0;
        border-bottom: 1px solid black;
    }
    #preview a[href]:after {
        content: " (" attr(href)")";
    }
    #preview abbr[title]:after {
        content: " (" attr(title)")";
    }
    #preview .ir a:after,
    #preview a[href^="javascript:"]:after,
    #preview a[href^="#"]:after {
        content: "";
    }
    #preview pre,
    #preview blockquote {
        border: 1px solid #999;
        padding-right: 1em;
        page-break-inside: avoid;
    }
    #preview tr,
    #previewimg {
        page-break-inside: avoid;
    }
    #preview img {
        max-width: 100% !important;
    }
    @page :left {
        margin: 15mm 20mm 15mm 10mm;
    }
    @page :right {
        margin: 15mm 10mm 15mm 20mm;
    }
    #previewp,
    #preview h2,
    #preview h3 {
        orphans: 3;
        widows: 3;
    }
    #preview h2,
    #preview h3 {
        page-break-after: avoid;
    }
}
