<div id="main">
  <nav class="row container">
    <div class="span6">
    <a href="https://github.com/login/oauth/authorize?client_id=YOUR_CLIENT_ID&redirect_uri=YOUR_REDIRECT_URI" class="btn primary" id="oauth_github">Sign In With Github</a>
    </div>
  </nav>

</div>