<div>
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">
      <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>
    <h3>What’s the deal with Dillinger?</h3>
  </div>
  <div class="modal-body">
    <p>Dillinger is an online cloud-enabled, HTML5, buzzword-filled Markdown editor.</p>
    <p>Dillinger was first designed and developed by <a href="https://twitter.com/joemccann">@joemccann</a> because he
      needed a decent Markdown editor. 2014, it got redesigned and coded by <a
        href="https://twitter.com/mrtnbroder">@mrtnbroder</a>.</p>
    <p>Dillinger is a <a href="https://github.com/joemccann/dillinger">100% open source project</a> so fork the code and
      contribute!</p>
    <p>Follow Dillinger on Twitter at <a href="https://twitter.com/dillingerapp">@dillingerapp</a>.</p>
    <p>Follow Joe McCann on Twitter at <a href="https://twitter.com/joemccann">@joemccann</a> and Martin Broder at <a
        href="https://twitter.com/mrtnbroder">@mrtnbroder</a>.</p>
    <p>Hosting graciously provided by <a href="https://www.digitalocean.com/?refcode=1f52e6331d1b">Digital Ocean!</a>
    </p>
  </div>
</div>
