<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">
    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  </button>
  <h3>What’s the deal with Dillinger?</h3>
</div>
<div class="modal-body">
  <p>Dillinger is an online cloud-enabled, HTML5, buzzword-filled Markdown editor.</p>
  <p>Dillinger was first designed and developed by <a href="https://twitter.com/joemccann">@joemccann</a> because he needed a decent Markdown editor. 2014, it got redesigned and coded by <a href="https://twitter.com/mrtnbroder">@mrtnbroder</a>.</p>
  <p>Dillinger is a 100% open source project so fork the code and contribute!</p>
  <p>Follow Dillinger on Twitter at <a href="https://twitter.com/dillingerapp">@dillingerapp</a>.</p>
  <p>Follow Joe McCann on Twitter at <a href="https://twitter.com/joemccann">@joemccann</a> and Martin Broder at <a href="https://twitter.com/mrtnbroder">@mrtnbroder</a>.</p>
</div>
