
@import 'nib/positions'

#login
  absolute bottom right

#login
  absolute top 5px left 10px

#login
  absolute top 5px right 5px bottom 5px

#login
  absolute top

#login
  absolute top right 5px bottom left 10px