@import 'nib/image'

#logo
  image: '/images/branding/logo.main.png'

#logo
  image: '/images/branding/logo.main.png' 50px 100px

#logo
  image: '/images/branding/logo.main.png' cover

#logo
  image: '/images/branding/logo.main.png' contain
