
@import 'nib'

.test
  position: relative !important
  top: 0 !important
  right: 0 !important
  bottom: 0 !important
  left: 0 !important
  z-index: 0 !important

  float: left !important
  clear: left !important
  display: none !important
  visibility: hidden !important
  overflow: hidden !important
  overflow-x: scroll !important
  overflow-y: auto !important
  clip: auto !important
  box-sizing: border-box !important

  margin: 0 !important
  margin-top: 0 !important
  margin-right: 0 !important
  margin-bottom: 0 !important
  margin-left: 0 !important
  padding: 0 !important
  padding-top: 0 !important
  padding-right: 0 !important
  padding-bottom: 0 !important
  padding-left: 0 !important

  width: 0 !important
  height: 0 !important
  min-width: 0 !important
  min-height: 0 !important
  max-height: 0 !important
  max-width: 0 !important

  outline: 0 !important
  border-collapse: collapse !important
  border-spacing: 0 !important
  border-color: #000 !important
  border-top-color: #000 !important
  border-right-color: #000 !important
  border-bottom-color: #000 !important
  border-left-color: #000 !important
  border-style: solid !important
  border-top-style: solid !important
  border-right-style: solid !important
  border-bottom-style: solid !important
  border-left-style: solid !important
  border-width: 0 !important
  border-top-width: 0 !important
  border-right-width: 0 !important
  border-bottom-width: 0 !important
  border-left-width: 0 !important
  border: 1px !important
  border-top: 1px !important
  border-right: 1px !important
  border-bottom: 1px !important
  border-left: 1px !important
  border-radius: 50% !important
  border-top-right-radius: 50% !important
  border-top-left-radius: 50% !important
  border-bottom-left-radius: 50% !important
  border-bottom-right-radius: 50% !important

  border-image: none !important
  background-attachment: fixed !important
  background-color: red !important
  background-image: none !important
  background-position-x: 0 !important
  background-position-y: 0 !important
  background-position: 0 !important
  background-repeat: no-repeat !important
  background-clip: border-box !important
  background-origin: padding-box !important
  background-size: 0 !important
  background: none !important
  box-shadow: 0 1px 0 #000 !important
  color: rgba(0,0,0,0.5) !important

  table-layout: fixed !important
  caption-side: top !important
  empty-cells: hide !important
  list-style-image: none !important
  list-style-position: inside !important
  list-style-type: disc !important
  list-style: none !important
  quotes: none !important
  content: "lol" !important
  counter-increment: none !important
  counter-reset: none !important

  vertical-align: middle !important
  text-align: center !important
  text-align-last: right !important
  text-decoration: none !important
  text-indent: 0 !important
  text-justify: auto !important
  text-outline: none !important
  text-transform: capitalize !important
  text-wrap: normal !important
  text-overflow: ellipsis !important
  text-shadow: 0 1px 0 0 #FFF !important
  line-height: 1.5 !important
  white-space: nowrap !important
  word-spacing: normal !important
  word-wrap: normal !important
  word-break: normal !important
  tab-size: 4 !important
  hyphens: manual !important
  letter-spacing: normal !important
  font-family: Monaco, monospace !important
  font-size: 21px !important
  font-style: italic !important
  font-variant: small-caps !important
  font-weight: bold !important
  font-size-adjust: none !important
  font-stretch: condensed !important
  font: normal 16px/1.25 Arial, sans-serif !important


  opacity: 0.5 !important
  resize: both !important
  cursor: pointer !important

  unicode-bidi: normal !important
  direction: rtl !important

  break-before: auto !important
  break-after: auto !important
  break-inside: none !important
  orphans: 3 !important
  widows: 3 !important

  zoom: 1 !important
