
@import 'nib/vendor'
@import 'nib/gradients'

body
  background: linear-gradient(white, black)

body
  background: linear-gradient(top, white, black)

body
  background: linear-gradient(to top, white, black)

body
  background: linear-gradient(to bottom right, white, black)

body
  background: linear-gradient(45deg, white, black)

body
  background: linear-gradient(-45deg, white, black)

body
  background: linear-gradient(top left, white, red, blue, black)

body
  background: linear-gradient(bottom right, white, black 80%)

body
  background: linear-gradient(right bottom, white, 80% black)

body
  background: linear-gradient(right bottom, 80% white, black)

body
  background: linear-gradient(right bottom, 80% rgba(#000,0.5), black)

body
  background: linear-gradient(right bottom, 80.5% hsla(0,0,0,0.5), black)

body
  background: linear-gradient(right bottom, 20px white, black)

vendor-prefixes = webkit moz ms o official

body
  background: linear-gradient(top, white, black)

body
  background: linear-gradient(top, white, black), white

body
  border-image: linear-gradient(top, #fff, #000) 20% stretch stretch;

body
  border-image: linear-gradient(top, #fff, #000) 20% fill stretch stretch;

gradient-var = linear-gradient(40deg, red, lime)

body
  cursor: gradient-var

body
  list-style: gradient-var

body
  list-style-image: gradient-var
