
@import 'nib/vendor'

button
  border-radius: 1px 2px / 3px 4px

button
  border-radius: top left 10px

button
  border-radius: top left 10px !important

button
  border-radius: bottom right 5px

vendor-prefixes = webkit moz official

button
  border-radius: top left 5px bottom right 10px

button
  border-radius: bottom 10px

button
  border-radius: top 5px bottom 10px

button
  border-radius: top left 5px, bottom right 10px

prepend(vendor-prefixes, ms, o)

button
  border-radius: 5px
