
@import 'nib/vendor'

button
  transition: transform

button
  transition: transform .3s .2s linear

button
  transition: transform cubic-bezier(1,1,1)

button
  transition: transform 2s, width .3s linear, height

button
  transition: height, transform 2s, width .3s linear

button
  transition: transform 1s !important

button
  transition: transform, height !important

button
  transition: transform 1s, width 2s linear, cubic-bezier(1,1,1)
