
@import 'nib/color-image'

#color-images
  .rgba
    background: color-image(rgba(blue, 0.3))

  .rgb
    background: color-image(rgb(200, 150, 150))

  .hex
    background: color-image(#fff)

  .hexa
    background: color-image(#ffffff80)

  .hexa-short
    background: color-image(#0005)
