
@import 'nib/vendor'

gray = #ebebeb

body
  padding: 50px

h1, h2, h3
  font-family: helvetica, arial

table
  border-collapse: collapse
  td
    padding: 3px 10px
    border-left: 1px solid #eee
    &:first-child
      font: 12px helvetica, arial
  tr:nth-child(4n)
    border-bottom: 1px solid #eee
    td
      padding-bottom: 15px
  tr:nth-child(4n+1)
    td
      padding-top: 15px

#color-images
  width: 400
  height: 300
  background: url(http://f.cl.ly/items/0W1R2J2L3g2C2L3p1l1e/Image%202011.08.26%2011:42:20%20AM.png) center
  box-sizing: border-box
  padding-top: 130px
  text-align: center

  div
    display: inline-block
    width: 50px
    height: 50px
    margin: 0 15px
    box-sizing: border-box
    padding-top: 18px
    border: 1px solid #fff
    font: 9px Lucida Grande
    color: #666
