// *************************************
//
//   Brand link
//   -> Logo Brand link
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .brand-link
//
// *************************************

.brand {
  border: none;
  display: block;

  &:hover {
    g {
      fill: $c-highlight;
    }
  }
}
