// *************************************
//
//   diNotify
//   -> Notification Styles
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .diNotify[.diNotify--blue](.is-state)(.has-context)
//   .diNotify-body
//
// *************************************

.diNotify {

  position: absolute;
  z-index: 99;
  left: 50%;
  top: 0;
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
  transition: top .5s ease-in-out, opacity .5s ease-in-out;
  visibility: hidden;


// -------------------------------------
//   Modifiers
// -------------------------------------

// .diNotify--modifier

// -------------------------------------
//   States
// -------------------------------------

// .diNotify.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-diNotify

// -------------------------------------
//   Scaffolding
// -------------------------------------

  &-body {
    padding: 1rem 2rem;
    background-color: $c-highlight;
  }

}
