// *************************************
//
//   Dropdown
//   -> Navigation Dropdown
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .dropdown[.open]
//
// *************************************

.dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: 51px;
  background-color: $c-background-highlight;
  width: 188px;
}

.dropdown,
.sidebar-list {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    margin: 32px 0 32px;
    padding: 0 0 0 32px;
    line-height: 1;
  }

  a {
    text-transform: none;
    display: block;
    color: $c-dropdown-link;
    @include clearfix;
  }

  .icon {
    float: right;
  }

  .open & {
    display: block;

    &.collapse {
      display: none;
    }
    &.collapse.in {
      display: block;
    }
  }

  .unlinked .icon {
    opacity: .3;
  }

  &.documents {

    li {
      background-image: url('../img/icons/file.svg');
      background-repeat: no-repeat;
      background-position: 240px center;
      background-size: 14px 16px;
      padding: 3px 32px 3px;
    }

    li {
      &:last-child {
      margin-bottom: 1rem;
    }

    }
    li.active a {
      color: $c-highlight;
    }
  }
}

// -------------------------------------
//   Modifiers
// -------------------------------------
