// *************************************
//
//   Brand link
//   -> Logo Brand link
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .brand-link
//
// *************************************

body {
  max-width: 1024px;
  margin: 0 auto;
  overflow: auto;
  padding: 2%;
}
