.header {
  border-bottom: 1px solid $c-border;
  position: relative;
}

.words, .characters {
  @include sp($fontsize: eta, $font: $headingtype, $lineheight: 1, $below: 1, $breakpoint: all);
  font-weight: map-get($headingtype, semibold);
  font-family: map-get($headingtype, font-family);
  color: $c-links;
  letter-spacing: 1px;
  text-transform: uppercase;
  z-index: map-get($z-index, overlay);
  position: absolute;
  right: 16px;
  top: 0;

  span {
    color: #000;
  }
}

.wordsCountService + .characters { top: 22px; }
