// *************************************
//
//   Links
//   -> Navigation Links
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .link[.link__element.link__modifier]
//
// *************************************

.link {
  display: block;

  &__preview {
    width: 51px;
  }

  &__settings {
    width: 51px;
  }
}

// -------------------------------------
//   Modifiers
// -------------------------------------
