// *************************************
//
//   Nav
//   -> Navigation
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .nav[.bucket--flag]
//   .nav.navbar-left
//   .nav.navbar-right
//
// *************************************

.nav {

  &-left {
    float: left;
  }

  &-right {
    float: right;
  }

  &-sidebar {
    width: 100%;
  }
}
