// *************************************
//
//   Navbar
//   -> Navigation
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .navbar[.bucket--flag]
//   .nav.navbar-nav
//     / ...
//
// *************************************

.navbar {
  background-color: $c-background-navbar;
  height: 51px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  @include clearfix;

  &-brand {
    float: left;
    margin: 0 0 0 24px;
    padding: 0;
    line-height: 41px;

    svg {
      width: 85px;
      height: 11px;
    }
  }
}

// -------------------------------------
//   Modifiers
// -------------------------------------
