.ui-resizable { 
  
   
    position: relative;
}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block; }
/*.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }*/
.ui-resizable-e {
	background-color: #666;
	border-right: 8px solid #e8e8e8;
	border-left: 1px solid #222;
	/*box-shadow: inset 0 1px 0 #6e6e6e,0 2px 2px rgba(0,0,0,0.4);*/
    width:10px;
    z-index: 88 !important;
    position: relative; 
}

.ui-resizable-e:after {
    content: "-";
    display: block;
    position: absolute;
    top: calc(50% - 16px);
    left: 0;
    height: 25px;
    width: 2px;
    background-color:rgba(0,0,0,0.4);
    margin:3px;
}

#editor{
    cursor: ew-resize; 
    position: relative;
    z-index: auto; 
}

