// *************************************
//
//   Sidebar
//   -> Sidebar
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .sidebar
//
// *************************************

.sidebar {
  overflow: scroll;
  // -webkit-overflow-scrolling: touch;
  width: 285px;
  height: 100%;
  padding-right: 15px;
  padding-bottom: 15px;

  &-wrapper {
    width: 270px;
    background-color: $c-background-sidebar;
    min-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: map-get($z-index, sidebar);
  }

  &-branding {
    width: 160px;
    padding: 0;
    margin: 16px auto;
  }
}
