// *************************************
//
//   Splashscreen
//   -> Splashscreen to hide content while initalizing Dillinger
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .splashscreen
//
// *************************************

.splashscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: none;
}
