// *************************************
//
//   Toggle
//   -> Sidebar Navigation Toggle
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .toggle
//
// *************************************

.toggle {
  display: block;
  width: 40px;
  height: 16px;
  padding: 25px 16px 26px;
  float: left;

  span:after,
  span:before {
    content: '';
    position: absolute;
    left: 0;
    top: -6px;
  }

  span:after {
    top: 6px
  }

  span {
    position: relative;
    display: block;
  }

  span,
  span:after,
  span:before {
    width: 20px;
    height: 2px;
    background-color: $c-icon;
    transition: all .3s;
    backface-visibility: hidden;
  }

  .open-menu &,
  &:hover {
    span {
      background-color: transparent;
      &:before {
        transform: rotate(45deg) translate(3px, 3px);
      }
      &:after {
        transform: rotate(-45deg) translate(5px, -6px);
      }
    }
  }
}
