// *************************************
//
//   Ace Editor
//   -> Styling of the Ace Editor
//
//
// *************************************

#editor {

  @include fontsize(16, all);
  font-family: unquote(map-get($monospacetype, font-family));
  font-weight: map-get($monospacetype, regular);
  line-height: 2rem;
  margin: map-get($container-margin, top) map-get($container-margin, left);



  //width: calc(100% - 10em);
  //height: calc(100% - 20em);
  // position: absolute;
  // top: 0;
  // left: 0;


// -------------------------------------
//   Modifiers
// -------------------------------------

// .structure--modifier

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------



  .ace_gutter {
    -webkit-font-smoothing: antialiased;
  }

}
