// *************************************
//
//   Ace Editor
//   -> Styling of the Ace Editor
//
//
// *************************************

#editor {
  @include fontsize(zeta, all);
  font-family: unquote(map-get($monospacetype, font-family));
  font-weight: map-get($monospacetype, regular);
  line-height: 2rem;
  width: 100%;
  height: 100%;
  // position: absolute;
  // top: 0;
  // left: 0;


// -------------------------------------
//   Modifiers
// -------------------------------------

// .structure--modifier

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

  .ace_gutter {
    -webkit-font-smoothing: antialiased;
  }

}

.editor-header {
  width: 50%;
  float: left;
  border-bottom: 1px solid $c-border;
  position: relative;

  @include to('tablet') {
    display: none;
  }

  &--first {
    border-right: 1px solid $c-border;
    @include to('tablet') {
      display: block;
      width: 100%;
    }
  }

  .title {
    display: inline-block;
  }
}
